.modal {
  width: 0px;
  height: 0px;
  opacity: 0;
  visibility: hidden;
  transition: visibility 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

.modal--visible {
  position: absolute;
  display: table;
  left: 0;
  right: 0;
  top: 0;
  z-index: 400;
  height: 100%;
  width: 100%;
  min-height: 100%;
  table-layout: fixed;
  opacity: 1;
  visibility: visible;
}

.modal__wrapper {
  bottom: 0;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  background-color: rgba(255, 255, 255, 0.8);
}

.modal__child {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  width: 100%;
}
