.button {
  box-sizing: content-box;
  border-radius: 6px;
  font-size: 20px;
  line-height: 48px;
  padding: 0 16px;
  width: 332px;
  transition: background-color 200ms cubic-bezier(0.08, 0.52, 0.52, 1);
}

.button--primary {
  background-color: #1877f2;
}

.button--primary:hover {
  background-color: #166fe5;
}

.button--primary:active {
  background-color: #29487d;
  border-color: #29487d;
}

.button-link {
  display: inline-block;
  border-radius: 6px;
  font-size: 17px;
  line-height: 48px;
  padding: 0 16px;
  transition: background-color 200ms cubic-bezier(0.08, 0.52, 0.52, 1);
}

.button-link--primary {
  color: #fff;
  background-color: #42b72a;
}

.button-link--primary:active {
  background-color: #2b9217;
  border-color: #2b9217;
}

.button-link--primary:hover {
  background-color: #36a420;
  border-color: #36a420;
}
