.register-form__wrapper {
  background-color: transparent;
  display: inline-block;
  margin: 20px;
  position: relative;
  text-align: left;
  box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%);
}

.register-form__container {
  background-color: transparent;
  overflow: visible;
  padding: 0;
  width: 432px;
}

.register-form__form {
  background-color: #fff;
  border-radius: 0 0 8px 8px;
  border-top: 1px solid #dadde1;
  box-sizing: border-box;
  padding: 16px;
  position: relative;
  width: 432px;
}

.register-form__header {
  align-items: center;
  background-color: #fff;
  border-radius: 8px 8px 0 0;
  box-sizing: border-box;
  padding: 10px 16px;
  position: relative;
  width: 432px;
  z-index: 1;
}

.register-form__title {
  color: #1c1e21;
  font-size: 32px;
  line-height: 38px;
  margin-bottom: 0;
}

.register-form__subtitle {
  color: #606770;
  font-size: 15px;
  line-height: 24px;
}

.register-form__section-fields {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.register-form__input-element {
  width: 100%;
  position: relative;
  display: inline-block;
  padding: 11px;
  font-size: 15px;
  line-height: 16px;
  background: #f5f6f7;
  border: 1px solid #ccd0d5;
  border-radius: 5px;
  -webkit-appearance: none;
}

.register-form__input-element::placeholder {
  color: #8d949e;
}

.register-form__section-fields .register-form__input-element {
  width: 194px;
}

.register-form__input-container {
  margin-bottom: 10px;
}

.register-form__input-wrapper {
  position: relative;
  display: block;
}
